<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@2.6.14/dist/vue.min.js"></script>

</head>
<body>
    <div id="app">
        <input type="button" value="切换状态" @mouseover="changeIsShow">
        <p v-if="isShow">哥斯拉大战基多拉</p>
        <p v-show="isShow">哥斯拉大战金刚</p>
        <p v-if="electricity>120">十万伏特！！！</p>
    </div>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                isShow: true,
                electricity: 1000
            },
            methods: {
                changeIsShow: function() {
                    this.isShow = !this.isShow;
                }
            }
        });
    </script>
    
</body>
</html>