<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <!-- 
			收集表单数据：
					若：<input type="text"/>，则v-model收集的是value值，用户输入的就是value值。
					若：<input type="radio"/>，则v-model收集的是value值，且要给标签配置value值。
					若：<input type="checkbox"/>
							1.没有配置input的value属性，那么收集的就是checked（勾选 or 未勾选，是布尔值）
							2.配置input的value属性:
									(1)v-model的初始值是非数组，那么收集的就是checked（勾选 or 未勾选，是布尔值）
									(2)v-model的初始值是数组，那么收集的的就是value组成的数组
					备注：v-model的三个修饰符：
									lazy：失去焦点再收集数据
									number：输入字符串转为有效的数字
									trim：输入首尾空格过滤
		-->
    <div id="app">
        <form @submit.prevent="demo">
            姓名：<input type="text" v-model.trim="name"/> <br><br>
            账号：<input type="text" v-model="account"/> <br><br>
            年龄：<input type="number" v-model.number="age"/> <br><br>
            性别：<input type="radio" name="gender" v-model="gender" value="male">男
                 <input type="radio" name="gender" v-model="gender" value="female">女<br><br>
            爱好：抽烟<input type="checkbox" v-model="hobby" value="smoke">
                喝酒<input type="checkbox" v-model="hobby" value="drinkWine">
                烫头<input type="checkbox" v-model="hobby" value="perm"><br><br>
                所属校区<select name="" id="" v-model="country">
                <option value="">请选择国家</option>
                <option value="America">美国</option>
                <option value="England">英国</option>
                <option value="Japan">日本</option>
                <option value="France">法国</option>
            </select><br><br>
            其他信息：<textarea v-model.lazy="other"></textarea><br><br>
            <input type="checkbox" v-model="agree">阅读并接受<a href="javascript:void(0)">《用户协议》</a> <br><br>
            <button >提交</button>
        </form>
    </div>

    <script>
        Vue.config.productionTip = false
        const app = new Vue({
            el: '#app',
            data: {
                name: "",
                account: "",
                age: 18,
                gender: "",
                hobby: [],
                country: "England",
                other: "",
                agree: ""
            },
            methods: {
                demo() {
                    console.log(JSON.stringify(this._data))
                }
            }
        });
    </script>
  </body>
</html>
