<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <h1>海贼</h1>
        <!-- 遍历数组 -->
        <ul>
            <li v-for="person in persons" :key="person.id">{{person.id}}-{{person.name}}-{{person.age}}</li>
            <!-- 两种写法都可以，in 还可以换成 of -->
            <li v-for="(person, index) of persons" :key="index">{{person.id}}-{{person.name}}-{{person.age}}</li>
        </ul>
        <!-- 遍历对象 -->
        <ul>
            <li v-for="(info, index) of car" :key="index">{{info}}{{index}}</li>
        </ul>
    </div>
    <script>
        Vue.config.productionTip = false
        var app = new Vue({
            el: '#app',
            data: {
                persons: [
                    {id: '001', name: '路飞', age: 18},
                    {id: '002', name: '香克斯', age: 40},
                    {id: '003', name: '娜美', age: 20},
                ],
                car: {
                    name: '宝马',
                    price: '70万',
                    color: '黑色'
                }
            },
        });
    </script>
    
</body>
</html>